<container>
    <row>
        <columns small = "12">
            <table border="0" cellpadding = "0" cellspacing = "0" width = "100%" style="border-spacing:0; border-left : 1px solid #e8e7e5;border-right: 1px solid #e8e7e5;border-bottom:1px solid #e8e7e5;padding: 10px;" bg="#ffffff">
                <tr>
                    <div width = "350" height = "350" align = "center" style="border-radius: 50%;">
                        <img src="https://www.pickmaid.com/dubai/assets/images/map.png" width="60" height="60" style=" padding-top: 5px " border="0" />
                    </div>
                </tr>
                <tr>
                    <td align="center" style="padding: 0px 40px 40px 40px;" >
                        <p style="color: #262626 ; font-size : 32px ; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                            <b>
                                Hello <%= name %> <br/> 
                                congratulations!! <br/>
                                Your Account Has Been Activated Successfully!
                            </b>
                        </p>
                    </td>    
                </tr>
                <tr>
                    <div width = "350" height = "350" align = "center" style="border-radius: 50%;">
                        <img src="https://images.unsplash.com/photo-1593013919627-658d3aafd23d?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2NTM5NDY2MA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" width="700" height="400" style=" padding-top: 20px " border="0" />
                    </div>
                </tr>
            </table>
        </columns>
    </row>
</container>
