<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD operation'</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>
            Users
        </h1>
        <!-- <a href="" class="btn btn-small btn-primary">Add user</a> -->
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone no</th>
                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
                <% data.forEach(element=>{%>
                    <tr>
                        <td><%= element._id %></td>
                        <td><img src="http://localhost:5000/uploads/<%= element.image %>" width="50" class="img-thumbnail"></td>
                        <td><%= element.first_name %></td>
                        <td><%= element.last_name %></td>
                        <td><%= element.email %></td>
                        <td><%= element.phone_number %></td>
                        <!-- <td><a href="" class="btn btn-sm btn-primary">Edit</a>
                            <a href="" class class="btn btn-sm btn-primary">Delete</a>
                        </td> -->


                    </tr>
                    <% })%>






            </tbody>

        </table>

    </div>


</body>

</html>